{% load static %}

<link rel="stylesheet" href="{% static 'webpage/style.css' %}">

<body>
  <div class="box">

    <div>
      A random sentence from collection "{{ collection_name }}"
      <br>
      <audio controls src="{{ random_sentence.audio.url }}">
        <a href="{{ random_sentence.audio.url }}"> Download audio </a>
      </audio>
    </div>
    
    <div>
      <form action="{% url 'webpage:result' random_sentence.id %}" method="post">
        {% csrf_token %}  
        <input type="text" name="answer">
        <input type="submit" value="Submit">
      </form>
    </div>
    
    <div>
      <a href="{% url 'webpage:index'%}">View collections</a>
      <a href="{% url 'webpage:upload_collection'%}">Upload collection</a>
    </div>

  </div>

</body>